<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- account model Class mapping -->
		<mapping class="com.account.model.acadamicYearModel" />
		<mapping class="com.account.model.StreamMasterModel" />
		<mapping class="com.account.model.BranchMasterModel" />
		<mapping class="com.account.model.StandardMasterModel" />
		<mapping class="com.account.model.DivisionMasterModel" />
		<mapping class="com.account.model.LedgerMasterModel" />
		<mapping class="com.account.model.SubLedgerMasterModel" />
		<mapping class="com.account.model.StandardFeeMasterModel" />
		<mapping class="com.account.model.TransportMasterModel" />
		<mapping class="com.account.model.StudentTransport" />
		<mapping class="com.account.model.BankMasterModel" />
		<mapping class="com.account.model.BillDetailsCompleteModel" />
		<mapping class="com.account.model.BillDetailsModel" />
		<mapping class="com.account.model.LedgerFeeMaster" />
		<mapping class="com.account.model.LedgerFeePaidModel" />
		<mapping class="com.account.model.TransactionDetailsModel" />
		<mapping class="com.account.model.discountModel" />
		<mapping class="com.account.model.RefundAmountModel"/>
		<!-- <mapping class="com.account.model.FeePaymentReciptPrintModel"/> -->
		<mapping class="com.account.model.DuplicateLeavingCertificateModel"/>

		<!-- Admin Model Class Mapping -->
		<mapping class="com.admin.model.AdminRegistrationModel" />

		<!-- student Model Class Mapping -->
		<mapping class="com.student.model.StudentAdmissionModel" />
		<mapping class="com.student.model.StudentBonafideRequestModel" />
		<mapping class="com.student.model.StudentLeavingCertificateModel" />
		<mapping class="com.student.model.StudentLeavingCertificateRequestModel" />
		<mapping class="com.student.model.StudentRegistrationModel" />
		<mapping class="com.student.model.StudentProfilePicModel" />
		<mapping class="com.student.model.StudentIDCardRequestModel" />
		<mapping class="com.student.model.StudentBarcodeMaster"/>

		<!-- HOD model Class Mapping -->
		<mapping class="com.HOD.model.StaffRegistrationModel" />
		<mapping class="com.HOD.model.AssignClassInchargeModel" />
		<mapping class="com.HOD.model.AssignDepartmentmodel" />
		<mapping class="com.HOD.model.HODSubjectMasterModel" />
		<mapping class="com.HOD.model.AssignSubjectTeacherModel" />

		<!-- NSS Model class Mapping -->
		<mapping class="com.NSS.model.RegisterNssStudentModel" />

		<!-- Exam Department Class Mapping -->
		<mapping class="com.Exam.model.CreateTimeTableModel" />
		<mapping class="com.Exam.model.StudentExamNoticeModel"/>
		<mapping class="com.Exam.model.StudentExamNoticeEnteryModel"/>
		<mapping class="com.Exam.model.ParentExamNoticeModel"/>
		<mapping class="com.Exam.model.ParentExamNoticeEnteryModel"/>

		<!-- Alumini Department Class Mapping -->
		<mapping class="com.Alumini.model.RegisterAluminiDetailsModel" />

			<!-- Staff Department Class Mapping -->
		<mapping class="com.staff.model.StudentAttendance"/>
		<mapping class="com.staff.model.StudentEnteryOfAttendance"/>
		<mapping class="com.staff.model.StudentAssignmentEnteryReportModel"/>
		<mapping class="com.staff.model.StudentAssignmentModel"/>
		
		<!-- Library Department Class Mapping -->
		<mapping class="com.library.model.AccessionLibraryRegister" />
		<mapping class="com.library.model.BookTypeMaster" />
		<mapping class="com.library.model.LibrarySubjectMaster" />
		<mapping class="com.library.model.TransactionMaster" />
		<mapping class="com.library.model.IssueAndReturnBookStudent" />
		<mapping class="com.library.model.Clearence" />
		<mapping class="com.library.model.IssueAndReturnBookLecturer" />
		<mapping class="com.library.model.RackMaster" />
		<mapping class="com.library.model.AccessibilityMaster" />
		<mapping class="com.library.model.BookStockAA" />
		<mapping class="com.library.model.ClearanceLecturer" />
		<mapping class="com.library.model.QuantityDataMaster" />
		<mapping class="com.library.model.Barcodemodel" />
		<mapping class="com.library.model.LostBookStaff" />
		<mapping class="com.library.model.LostBookStudent" />
		<mapping class="com.library.model.Department" />
		<mapping class="com.library.model.BookInDepartment" />
		<mapping class="com.library.model.LibraryAcademicYearModel" />
		<mapping class="com.library.model.BookBankIssueReturn" />
		<mapping class="com.library.model.VendorMasterModel" />  
		<mapping class="com.library.model.PurchaceBooKModel"/>
		
		
		<!-- Academice Department Model Mapping -->
		<mapping class="com.AcademicMaster.model.StudentNoticeModel"/>
		<mapping class="com.AcademicMaster.model.StudentNoticeStudentEnteryModel"/>
		<mapping class="com.AcademicMaster.model.StudentAttendanceNoticeModel"/>
		<mapping class="com.AcademicMaster.model.StudentAttendanceNoticeStudentEnteryModel"/> 
		<mapping class="com.AcademicMaster.model.StaffMeetingNoticeModel"/>
		<mapping class="com.AcademicMaster.model.StaffMeetingNoticeStaffEnteryModel"/>
	    <mapping class="com.AcademicMaster.model.StaffProgramNoticeEnteryModel"/>
		<mapping class="com.AcademicMaster.model.StaffProgramNoticeModel"/>
		<mapping class="com.AcademicMaster.model.ParentMessageModel"/>
		<mapping class="com.AcademicMaster.model.ParentMessageEntryModel"/>
		
		<!--Traning and Placement Department model Mapping -->
		<mapping class="com.TAP.model.StudentRegistrationTAPModel"/>
		
		
	</session-factory>
</hibernate-configuration>
